<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gc.system.mapper.GcCourseDictMapper">

    <resultMap type="GcCourseType" id="CourseTypeResult">
        <id     property="typeId"   column="type_id"   />
        <result property="typeName"   column="type_name"   />
        <result property="createTime"   column="create_time"   />
    </resultMap>

    <resultMap id="InstitueResult" type="GcInstitue">
        <id property="instId" column="inst_id"/>
        <result property="instName" column="inst_name"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <!-- 查询课程类型 -->
    <select id="getCourseType" resultMap="CourseTypeResult" >
        select type_id, type_name from gc_course_type
    </select>

    <!-- 查询所有学院 -->
    <select id="getAllInstitue" resultMap="InstitueResult" >
        select inst_id, inst_name from gc_institue
    </select>

</mapper>