<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('学生选课')" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="role-form">
                <div class="select-list" id="select-list">
                    <ul>
                        <li>
                            课程类型：<select name="params[courseType]" th:with="type=${@gdict.getCourseType()}">
                            <option value="">所有</option>
                            <option th:each="dict : ${type}" th:text="${dict.typeName}" th:value="${dict.typeId}"></option>
                        </select>
                        </li>
                        <li>
                            课程名称：<input type="text" name="courseName"/>
                        </li>
                        <li>
                            课程老师：<input type="text" name="teacherName"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">

        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('system:role:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:role:remove')}]];
    var prefix = ctx + "student/select";


    $(function() {
        // 判断选课开始/正在选课/结束
        if (isStartOrEnd() === false) {
            $("#select-list").css({'display': 'none'});
            $.modal.alert("选课未开始/已结束");
        } else {
            var options = {
                url: prefix + "/list",
                columns: [
                    {
                        field: 'scheId',
                        title: '课程序号'
                    },
                    {
                        field: 'courseName',
                        title: '课程名称',
                        sortable: true
                    },
                    {
                        field: 'teacherName',
                        title: '课程老师',
                        sortable: true
                    },
                    {
                        field: 'teachTimeAndLoc',
                        title: '上课时间&地点',
                        sortable: true
                    },
                    {
                        field: 'courseCredit',
                        title: '课程学分',
                        sortable: true
                    },
                    {
                        field: 'classSize',
                        title: '课堂人数',
                        sortable: true
                    },
                    {
                        field: 'selectedSize',
                        title: '已选人数',
                        sortable: true
                    },
                    {
                        field: 'note',
                        title: '备注',
                        sortable: true
                    },
                    {
                        title: '操作',
                        align: 'center',
                        formatter: function (value, row, index) {
                            var actions = [];
                            if (isSelected(row.scheId) == true) {
                                actions.push('<span class="help-block m-b-none"><i class="fa fa-info-circle"></i>课程已选</span>')
                            } else {
                                actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="choose(\'' + row.scheId + '\')"><i class="fa fa-edit"></i>选择课程</a> ');
                            }
                            return actions.join('');
                        }
                    }]
            };
            $.table.init(options);
        }
    });

    /** 判断选课的时间状态 */
    function isStartOrEnd() {
        var flag;
        var config = {
            url: prefix + '/isStartOrEnd',
            type: 'get',
            async: false,
            error: function (error) {
                $.modal.alertError(error);
            },
            success: function (result) {
                if (result.code === web_status.SUCCESS) { //处于选课中
                    flag = true;
                } else { //选课未开始 / 结束
                    flag = false;
                }
            }
        };
        $.ajax(config);
        console.log("flag: " + flag);
        return flag;
    }

    /** 选择课程 -- 判断是否会冲突已转移到choose.html中进行后端的判断, 此处仅做学分上限限制判断使用 + 跳转 */
    function choose(scheId) {
        if (creditLimit(scheId) == true) {
            $.modal.alertError("选课学分即将超过学分上限, 请合理安排课程");
        } else {
            var url = prefix + '/choose/' + scheId;
            $.modal.open("选择课程", url);
        }
    }

    /** 判断选课学分是否超出上限 */
    function creditLimit(scheId) {
        var limit;
        $.ajax({
            type: "get",
            url: prefix + "/creditLimit/" + scheId,
            async: false,
            error: function (request) {
                $.modal.alertError("系统错误");
            },
            success: function (result) {
                if (result.code == web_status.SUCCESS) {
                    limit = false;
                } else {
                    limit = true;
                }
            }
        });
        return limit;
    }

    /** 判断课程是否已选 */
    function isSelected(scheId) {
        var isSelect; //定义var, function()不能直接 return true / return false
        $.ajax({
            type: "GET",
            url: prefix + '/isSelected/' + scheId,
            async: false, //必须设置 async==false
            error: function (request) {
                $.modal.alertError("系统错误");
            },
            success: function (result) {
                if (result.code == web_status.SUCCESS) {
                    isSelect = false;
                } else {
                    isSelect = true;
                }
            }
        });
        return isSelect;
    }

    /** 判断是否选课冲突 -- 已弃用 */
    function isConflict(scheId) {
        var res;
        $.ajax({
            type: "GET",
            url: prefix + '/isConflict/' + scheId,
            async: false,
            error: function (request) {
                $.modal.alertError("系统错误");
            },
            success: function (result) {
                if (result.code == web_status.SUCCESS) {
                    res = null;
                } else {
                    res = result.msg;
                }
            }
        });
        return res;
    }

</script>
</body>
</html>